@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%,
      var(--tw-gradient-stops));

  --animate-bounce-right: bounce-right 1s infinite;
  --animate-bounce-left: bounce-left 1s infinite;
  --animate-wiggle: wiggle 1s infinite;
  --animate-fade-in: fadeIn 0.5s ease-out forwards;
  --animate-fade-in-fast: fadeIn 0.2s ease-out forwards;
  --animate-fade-in-first: fadeIn 0.5s ease-out 1.2s forwards;
  --animate-fade-in-second: fadeIn 0.5s ease-out 1.4s forwards;
  --animate-fade-in-third: fadeIn 0.5s ease-out 1.8s forwards;
  --animate-fade-in-fourth: fadeIn 0.5s ease-out 2.0s forwards;
  --animate-fade-in-fifth: fadeIn 0.5s ease-out 2.2s forwards;
  --animate-fade-in-sixth: fadeIn 0.5s ease-out 2.4s forwards;
  --animate-fade-out: fadeOut 0.5s ease-out forwards;
  --animate-gavel: gavel 1s cubic-bezier(0, .9, .5, .71) infinite;
  --animate-slide-out: slide-out 0.2s ease-out forwards;

  @keyframes slide-out {
    100% {
      transform: translateY(0);
      opacity: 1;
    }

    0% {
      transform: translateY(50vh);
      opacity: 0;
    }
  }

  @keyframes bounce-right {

    0%,
    100% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(2px);
    }
  }

  @keyframes bounce-left {

    0%,
    100% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-2px);
    }
  }

  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-6deg);
    }

    50% {
      transform: rotate(6deg);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes gavel {

    0%,
    100% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(12deg);
    }
  }
}



.gradiant3 {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(90deg, var(--c1), var(--c2), var(--c1));
  background-size: 200% 100%;
  background-position: 0% 50%;
  animation: gradiant3-slide 3s linear infinite;
}

@keyframes gradiant3-slide {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: -200% 50%;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  .bg-construction {
    background-color: #facc15;
    background-image: repeating-linear-gradient(-45deg,
        #292524 0,
        #292524 5px,
        #ee4c4c 5px,
        #ee4c4c 10px);
  }

  .bg-construction-yellow {
    background-color: #facc15;
    background-image: repeating-linear-gradient(-45deg,
        #292524 0,
        #292524 5px,
        #facc15 5px,
        #facc15 10px);
  }

  .text-glow-white {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
  }
}

@utility text-balance {
  text-wrap: balance;
}

@keyframes wingIntro {
  0% {
    opacity: 0;
    transform: scale(0.2) translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateX(0px);
  }
}

@keyframes wingFlap {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }
}

.wing-animate-sequence {
  animation: wingIntro 0.3s ease-out forwards;
}

.wing-animate-sequence.flapping {
  animation: wingFlap 0.3s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* gray thumb */
  border-radius: 4px;
  border: 2px solid transparent;
  /* space around thumb */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* darker when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.rainbow-fade-text {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, red);
  background-size: 200% 100%;
  background-position: 0% 50%;
  animation: rainbow-fade-slide 3s linear infinite;
}

.group:hover .group-hover\:rainbow-fade-text {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, red);
  background-size: 200% 100%;
  background-position: 0% 50%;
  animation: rainbow-fade-slide 3s linear infinite;
}

@keyframes rainbow-fade-slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

